body {
  background-color:#B1FEDB;
  color:white;
  text-align:left;
  font-family:'Baskervville SC';
  margin-left:10%;
  margin-right:10%;
}
.heading{
  font-family:'Arsenal SC',cursive;
  text-align: center;
  font-size:300%;
  color:white;
  text-shadow:#B451E5 3px 3px;
  
}
h2.heading{
  font-size:100%;
}
.bordered{
  border-style: solid;
  border-color:#D7A8EE;
  border-width:4px;
  padding:7px;
  border-radius:9px;
  margin:5px;
  background-color:#98DABC;
  color:white;
}
a {
  text-decoration: none;
  font-weight:bold;
  color:white;
}
a:hover, a:visited {
  color:white;
}
hr {
  height:2px;
  border:0px;
  background-color:#B1FEDB;
}
.footer {
  font-size:x-large;
  text-align:center;
  color:black;
}
#bg{
  width: 100vw;
  height:100vh;
  z-index:-999;
  position:fixed;
  left:0px;
  top:0px;
}
